<div class="ui fluid vertical menu">
  <%= link_to 'Home',                       admin_dashboard_path,         class: 'item' %>
  <%= link_to t('users.index'),             admin_users_path,             class: 'item' %>
  <%= link_to t('ticket_categories.index'), admin_ticket_categories_path, class: 'item' %>
</div>
