#site-logo {
  margin: 5px;
}

#site-title {
  h1 {
    margin: 0;
    padding: 5px 0;
    font-size: 130%;
  }
}

#site-footer {
  padding-top: 25px;
  padding-bottom: 25px;
  background: #eee;
}

#full-width {
  #site-header {
    #site-title {
      @extend .sr-only;
    }
  }
}

#site-admin-sidebar {
  @extend main;
  padding-bottom: 0;
  border-left: 1px solid #eee;
}

.alert-fixed {
    position:absolute;
    top: 10%;
    left: 0px;
    width: 100%;
    z-index:9999;
    border-radius: 0px;
    opacity: 0.95;
}
