#site-logo {
  margin: 5px;  
}

#site-title {
  h1 {
    margin: 0;
    padding: 5px 0;
    font-size: 130%;
  }
}

#site-footer {
  padding-top: 25px;
  padding-bottom: 25px;
  background: #eee;
}

#full-width {
  #site-header {
    #site-title {
      @extend .sr-only;
    }
  }
}
